---
layout: default
title: Ramble
nav_order: 1
description: "The ramble section of Rubberocket, where I ramble about stuff in blog form!"
---

<h1>Ramble!</h1>
<h3>The part of the site where I blog about stuff.</h3>

<ul>
  {% for post in site.categories.ramble %}
    {% if post.url %}
        <li><a href="/oldrocket/{{post.url}}">{{post.title}}</a> ({{ post.date | date: "%-d %B %Y" }}) <img src="{{post.thumbnail}}" width="32" alt="{{post.thumbnail-alt}}"></li>
    {% endif %}
  {% endfor %}
</ul>
